@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
	font-family: var(--second-family);
}


// --- banner ---

.banner {
	min-height: 192px;
	background-image: url("/src/assets/images/homepage/benefits/vector-lines.svg"),
		url("/src/assets/images/homepage/benefits/bg-benefits.png");
	background-position: center center, center center;
	background-repeat: repeat-y, repeat-y;
	background-size: cover, cover;
	margin-bottom: $gap-large * 2;
	padding: 20px;

	&-title {
		font-family: var(--font3);
		font-weight: 700;
		font-size: 19px;
		color: $color-white;
		text-align: left;
		padding-top: 37px;
		margin-bottom: 32px;
	}

	// --- adaptive ---

	@include respond(md) {
		min-height: auto;
		padding: 20px;
		text-align: center;
		margin-bottom: $gap-large;

		&-title {
			font-size: 17px;
			text-align: center;
			padding-top: 27px;
			margin-bottom: 22px;
		}
	}

	@include respond(sm) {
		padding: 20px 10px 40px;
		text-align: center;
		margin-bottom: $gap-medium;

		&-title {
			font-size: 16px;
			padding-top: 20px;
		}
	}
}


.benefits {
	@include flex-between;

	flex-wrap: wrap;
	gap: $gap-small;

	&-item {
		@include flex-between;

		margin-bottom: $gap-medium;

		img {
			width: 60px;
			height: 60px;
			margin-right: $gap-small;
		}

		p {
			font-family: var(--second-family);
			font-weight: 500;
			font-size: 15px;
			color: $color-white;

		}
	}

	@include respond(md) {
		justify-content: center;
		padding: 0 20px;

		&-item {
			flex: 0 1 45%;
			justify-content: center;
			flex-direction: column;
			text-align: center;

			img {
				width: 50px;
				height: 50px;
				margin: 0 0 10px;
			}

			p {
				font-size: 14px;
			}
		}
	}

	@include respond(sm) {
		padding: 0 10px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: $gap-small;

		&-item {
			text-align: center;
			flex-direction: column;

			img {
				margin: 0 0 10px;
			}

			p {
				font-size: 13px;
				text-align: center;
			}
		}
	}
}

// --- blocks ---

.blocks {
	@include flex-between;

	gap: 60px;
	flex-wrap: wrap; 

h3 {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 24px;
} 

p {
    font-size: 15px;
    line-height: 1.7;
}


// left block

.left-block {
    max-width: 640px;
    width: 100%;
    flex: 0 1 65%; // width ~65%
    display: flex;
    flex-direction: column;

    .links {
        @include flex-between(flex-start);

        width: 100%;
        flex-wrap: wrap;
        gap: 0;
        margin-bottom: 50px;

        .links-list {
            flex: 0 1 30%; // three columns
            max-width: 140px;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: flex-start;
                justify-content: left;
                flex-direction: column;

                li + li {
                    margin-top: 8px;
                }

                a {
                    font-family: var(--second-family);
                    font-weight: 400;
                    font-size: 15px;

                    &:hover {
                        color: $color-main;
                    }
                }
            }
        }
    }

    .desc {
        margin-top: $gap-medium;
    }
}


// right block 

	.right-block {
		flex: 0 1 30%; // width ~30%

		.contact {
            max-width: 367px;
            width: 100%;
			margin-bottom: 75px;
		}

		.info {
			display: flex;
			flex-wrap: wrap;
			gap: 35px 40px;

			.info-item {
				flex-wrap: 0 1 calc(50% - 40px);
                display: flex;
                align-items: center;
                gap: 10px;

				img {
					width: 24px;
					height: 24px;
                    object-fit: contain;
					flex-shrink: 0;
				}

				span {
					font-size: 15px;
					line-height: 1.4;
				}
			}
		}
	}

	// --- adaptive ---
	@include respond(lg) {
		gap: 40px;
		padding: 0 30px;

		.left-block {
			flex: 0 1 60%;
		}

		.right-block {
			flex: 0 1 35%;
		}
	}

	@include respond(md) {
		flex-direction: column;
		gap: 50px;
		padding: 0 20px;
		text-align: left;

		.left-block,
		.right-block {
			width: 100%; 
			max-width: 100%;
			margin: 0 auto;
		}

		.left-block {
			align-items: center;

			.links {
				justify-content: center;
				gap: 30px;

				.links-list {
					max-width: 180px;
				}
			}
		}

		.right-block {
			display: flex;
			align-items: center;

			.info {
				justify-content: center;
				padding-bottom: 50px;
			}
		}
	}

	@include respond(sm) {
		padding: 0 10px;
		text-align: center;

		.left-block,
		.right-block {
			width: 100%;
			align-items: center;
		}

		.left-block .links {
			flex-direction: column;
			gap: 25px;
			padding-left: 30px;
			margin-bottom: 10px;

			h3 {
				text-align: start;
			}
		}

	.right-block {
		display: block;

		.info {
			flex-direction: column;
			gap: 20px;
			align-content: center;
		}
	}
	}
}


// --- Coperight ---

.copyright {
	text-align: center;
	margin: 110px 0 50px;
	font-family: var(--font3);
	font-weight: 400;
	font-size: 14px;
	color: $color-text-light;

	// --- adaptive ---

	@include respond(md) {
		margin: 80px 0 40px;
		font-size: 13px;
	}

	@include respond(sm) {
		margin: 60px 0 30px;
		font-size: 12px;
	}
}
