:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "IBM Plex Sans", sans-serif; // Helvetica
  --third-family: "Manrope", sans-serif;        // SF Pro
  --font3: "Inter", sans-serif;
  --font4: "Work Sans", sans-serif;             // SF Compact Rounded
}

// colors
$color-main: #b92770;
$color-white: #fff;
$color-black: #000;
$color-text:  #504e4a;
$color-text-light: rgba(0,0,0,0.35);
$color-border: rgba(114, 113, 116, 0.2);

$box-shadow: 0 20px 80px 0 rgba(193, 199, 212, 0.7);


// size
$max-width-container: 1300px;
$gap-large: 60px;
$gap-medium: 40px;
$gap-small: 20px;
$radius: 15%;