:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "IBM Plex Sans", sans-serif; // Helvetica
  --third-family: "Manrope", sans-serif;        // SF Pro
  --font3: "Inter", sans-serif;
  --font4: "Work Sans", sans-serif;             // SF Compact Rounded
}

$color-main: #b92770;