<footer class="footer">
    <div class="banner">
        <div class="wrapper">
            <h2 class="banner-title">Our Benefits</h2>
            
            <div class="benefits">
                <div class="benefits-item">
                    <img src="/src/assets/images/homepage/benefits/card1.png" alt="item1">
                    <p>
                        Velit nisl sodales eget <br>donec quis. volutpat orci.
                    </p>
                </div>

                <div class="benefits-item">
                    <img src="/src/assets/images/homepage/benefits/card2.png" alt="item2">
                    <p>
                        Dolor eu varius. Morbi <br>fermentum velit nisl.
                    </p>
                </div>

                <div class="benefits-item">
                    <img src="/src/assets/images/homepage/benefits/card3.png" alt="item3">
                    <p>
                        Malesuada fames ac ante <br>ipsum primis in faucibus. 
                    </p>
                </div>

                <div class="benefits-item">
                    <img src="/src/assets/images/homepage/benefits/card4.png" alt="item4">
                    <p>
                        Nisl sodales eget donec <br>quis. volutpat orci. 
                    </p>
                </div>
            </div>
            
        </div>
    </div>
    <!-- // banner -->
    
    <div class="blocks wrapper">
        <div class="left-block">
            <div class="links">
                <div class="links-list">
                    <h3>About Us</h3>

                    <ul>
                        <li><a href="">Organisation</a></li>
                        <li><a href="">Partners</a></li>
                        <li><a href="">Clients</a></li>
                    </ul>
                </div>

                <div class="links-list">
                    <h3>Interesting Links</h3>

                    <ul>
                        <li><a href="">Photo Gallery</a></li>
                        <li><a href="">Our Team</a></li>
                        <li><a href="">Socials</a></li>
                    </ul>
                </div>

                <div class="links-list">
                    <h3>Achievements</h3>

                    <ul>
                        <li><a href="">Winning Awards</a></li>
                        <li><a href="">Press</a></li>
                        <li><a href="">Our Amazing Clients</a></li>
                    </ul>
                </div>
            </div>

            <div class="desc">
                    <h3>Shipping Information</h3>

                    <p>
                        Nulla eleifend pulvinar purus, molestie euismod odio imperdiet ac. Ut sit amet erat nec nibh 
                        rhoncus varius in non lorem. Donec interdum, lectus in convallis pulvinar, enim elit porta sapien, 
                        vel finibus erat felis sed neque. Etiam aliquet neque sagittis erat tincidunt aliquam. 
                    </p>
            </div>
        </div>
        <!-- // left-block -->

        <div class="right-block">
            <div class="contact">
                <h3>Contact Us</h3>

                <p>
                    Bendum dolor eu varius. Morbi fermentum velitsodales 
                    egetonec. volutpat orci. Sed ipsum felis, tristique
                    egestas et, convallis ac velitn consequat nec luctus.
                </p>
            </div>

            <div class="info">
                <div class="info-item">
                    <img src="/src/assets/images/icons/phone.png" alt="phone-icon">
                    <span>Phone: (+63) 236 6322</span>
                </div>
                <div class="info-item">
                    <img src="/src/assets/images/icons/email.png" alt="email-icon">
                    <span>public@news.com</span>
                </div>
                <div class="info-item">
                    <img src="/src/assets/images/icons/clock.png" alt="clock-icon">
                    <span>Mon - Fri: 10am - 6pm <br>Sat - Sun: 10am - 6pm</span>
                </div>
                <div class="info-item">
                    <img src="/src/assets/images/icons/map-pin.png" alt="map-pin-icon">
                    <span>639 Jade Valley, <br>Washington Dc</span>
                </div>
            </div>
        </div>
        <!-- // right-block -->
    </div>
    <!-- // blokcs -->
    
    <div class="copyright">
        <span>© Copyright 2025</span>
    </div>
</footer>