<header class="header">
	<div class="wrapper">
		<div class="header-top">
			<div class="social">
				<a href="https://www.facebook.com/" target="_blank"
					><img
						data-src="./assets/images/icons/facebook.png"
						alt="facebook"
				/></a>
				<a href="https://x.com/" target="_blank"
					><img
						data-src="./assets/images/icons/twitter.png"
						alt="twitter"
				/></a>
				<a href="https://www.instagram.com/" target="_blank"
					><img
						data-src="./assets/images/icons/instagram.png"
						alt="instagram"
				/></a>
			</div>

			<div class="logo">
				<a href="/src/index.html"
					><img
						data-src="./assets/images/icons/logo-bag.png"
						alt="logo"
					/>
					BEST SHOP
				</a>
			</div>

			<div class="icons">
				<button class="icons-btn user-btn">
					<img data-src="./assets/images/icons/user.png" alt="user" />
				</button>
				<button class="icons-btn cart-btn">
					<img
						data-src="./assets/images/icons/shopping-cart.png"
						alt="shopping-cart"
					/>
					<span class="cart-counter" style="display: none">0</span>
				</button>
			</div>
		</div>
		<!-- // header-top -->

		<div class="header-bottom">
                <!-- Hamburger Menu Button (Mobile Only) -->
                <button class="hamburger-btn" aria-label="Toggle menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <nav class="nav-menu">
                    <ul>
                        <li><a href="/src/index.html" class="active">Home</a></li>
                        <li><a href="/src/pages/catalog.html" class="catalog-arrow">Catalog</a></li>
                        <li><a href="/src/pages/about.html">About Us</a></li>
                        <li><a href="/src/pages/contact.html">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
		<!-- // header-bottom -->
	</div>
</header>
