<header class="header">
        <div class="wrapper">
            <div class="header-top">
                <div class="social">
                    <a href="https://www.facebook.com/" target="_blank"><img src="./assets/images/icons/facebook.png" alt="facebook"></a>
                    <a href="https://x.com/" target="_blank"><img src="./assets/images/icons/twitter.png" alt="twitter"></a>
                    <a href="https://www.instagram.com/" target="_blank"><img src="./assets/images/icons/instagram.png" alt="instagram"></a>
                </div>

                <div class="logo">
                    <a href="index.html"><img src="./assets/images/icons/logo-bag.png" alt="logo">
                        BEST SHOP
                    </a>
                </div>

                <div class="icons">
                    <button class="icons-btn"><img src="./assets/images/icons/user.png" alt="user"></button>
                    <button class="icons-btn"><img src="./assets/images/icons/shopping-cart.png" alt="shopping-cart"></button>
                </div>
            </div>

            <div class="header-bottom">
                <nav>
                    <a href="../index.html" class="active">Home</a>
                    <a href="../pages/catalog.html" class="catalog">Catalog</a>
                    <a href="../pages/about.html">About Us</a>
                    <a href="../pages/contact.html">Contact Us</a>
                </nav>
            </div>
        </div>
</header>