@use "./base/reset";
@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;
@use "layouts/header.scss";
@use "layouts/footer.scss";
@use "components/buttons.scss";

.wrapper {
	@include container;
}

// --- hero section ---

.hero {
	background-color: #e7e8e9;
	position: relative;
	z-index: 1;
	@include flex-center;

	&::after {
		content: "";
		position: absolute;
		right: -20%;
		top: 47%;
		transform: translateY(-50%);
		width: 100%;
		height: 500px;
		background: url("/src/assets/images/homepage/bag-title.png") no-repeat
			center;
		background-size: contain;
		pointer-events: none;
	}

	&-content {
		// max-width: 640px;
		padding: 280px 0 284px 200px;

		h1 {
			font-family: var(--font-family);
			font-weight: 900;
			font-size: 50px;
			color: $color-black;
			margin-bottom: 30px;
		}

		&-text {
			@include text;
			margin-bottom: 30px;
		}
	}
}

// --- promo section ---

.promo {
	@include flex-between;
	background-color: $color-white;
	box-shadow: $box-shadow;
	position: relative;
	z-index: 2;
	margin-top: -100px;

	&-left {
		max-width: 495px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 85px;

		&-profile {
			display: flex;
			align-items: center;
			margin-bottom: 28px;

			img {
				width: 85px;
				height: 93px;
				margin-right: 22px;
			}
		}

		&-desc {
			h2 {
				@include heading;
			}

			&-text {
				@include text;
				margin-top: 30px;
			}
		}
	}

	&-right {
		width: 646px;
		height: 566px;
		background-image: linear-gradient(
				rgba(0, 0, 0, 0.4),
				rgba(0, 0, 0, 0.4)
			),
			url(/src/assets/images/homepage/bags-discount.png);
		@include background;

		&-items {
			display: flex;
			flex-direction: column;
			padding: 189px 184px 159px 70px;

			&-title {
				@include heading($color: $color-white);
				margin-bottom: 30px;
			}

			&-text {
				@include text($color: $color-white);
				margin-bottom: 30px;
			}
		}
	}
}

.profile-desc {
	display: flex;
	flex-direction: column;

	h3 {
		@include heading($size: 20px, $weight: 700);
		margin-bottom: 7px;
	}

	span {
		@include text($color: $color-black);
	}
}

// --- products-overview section ---

.products-overview {
	margin-top: 106px;

	&-title {
		text-align: center;
		margin-bottom: 40px;

		&-heading {
			@include heading;
			text-align: center;
			margin-bottom: 10px;
		}

		&-text {
			@include text($color: $color-text);
		}
	}

	&-wrapper {
		@include container;
		position: relative;
		overflow: hidden;
	}

	&-track {
		display: flex;
		transition: transform 0.4s ease;
	}

    &-dots {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 25px;

        button {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: none;
            background-color: $color-border;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &.active {
                background-color: $color-main;
            }
        }
    }
	.product-card {
        position: relative;
        width: 296px;
        height: 600px;
		box-sizing: border-box;
		margin-right: 39px;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;        

        &:last-child {
            margin-right: 0;
        }

		img {
			width: 100%;
            height: 100%;
            object-fit: cover;
			display: block;
		}

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
            z-index: 1;
        }

		&-content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 20px;
            z-index: 2;

			&-title {
				@include heading(
					$weight: 700,
					$size: 19px,
					$color: $color-white
				);
                margin-bottom: 20px;
			}

            &-text {
                @include text($color: $color-white);
                margin-bottom: 39px;
            }
		}
	}

	&-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: $color-main;
		color: $color-white;
		border: none;
		padding: 10px 15px;
		cursor: pointer;
		z-index: 10;

		&.prev {
			left: 10px;
		}
		&.next {
			right: 10px;
		}

		&:hover {
			background: darken($color-main, 10%);
		}
	}
}



// --- products-sections ---
.products-sections {
	margin: 80px 120px;

	.products-block {
		@include container;
		// margin-bottom: 80px;

		&-title {
			text-align: center;
			margin-bottom: 40px;

			h2 {
				@include heading;
				text-align: center;
				margin-bottom: 10px;
			}

			p {
				@include text($color: $color-text);
			}
		}

		.products-list {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 30px;
		}

		.product-card {
			position: relative;
			width: 296px;
			// height: 600px;
			overflow: hidden;
			text-align: center;

			img {
				width: 100%;
				object-fit: cover;
				display: block;
				box-shadow: $box-shadow;

			}

			.badge-sale {
				position: absolute;
				top: 15px;
				left: 15px;
				background: $color-main;
				color: $color-white;
				font-weight: 700;
				font-size: 12px;
				padding: 4px 8px;
			}

			h3 {
				@include heading($size: 18px, $weight: 700);
				padding: 24px 55px 15px 56px
			}

			.price {
				@include text($color: $color-black);
				font-weight: 700;
				margin-bottom: 15px;
			}

			.btn {
				@include pressable-button($bg: $color-main, $text-color: $color-white);
				width: 150px;
			}
		}
	}
}


// --- content-banner section ---

.content-banner {
	@include flex-between;
	height: 407px;
	background-image: linear-gradient(
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4)
			), url(/src/assets/images/homepage/banner.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 20px;

	&-left {
		margin: 29px 0 0 105px;

		&-title {
			@include heading($size: 223px, $color: $color-white);
		}

		&-text {
			@include text($size: 20px, $color: $color-white);
			margin-top: -20px;
			margin-bottom: 96px;
		}
	}

	&-right {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		&-title {
			@include heading($color: $color-white);
			margin-bottom: 30px;
		}

		&-text {
			max-width: 394px;
			@include text($color: $color-white);
			margin-bottom: 30px;
		}
	}
}


// --- customers section ---

.customers {
	margin-bottom: 120px;

	&-title {
		@include heading;
		text-align: center;
		margin-bottom: 10px;
	}

	&-parag {
		@include text;
		text-align: center;
		margin-bottom: 60px;
	}

	&-profile-wrapper {
		display: flex;
	}

	&-profile {
		background-color: $color-white;
		box-shadow: $box-shadow;
		@include flex-center;
		flex-direction: column;
		margin-right: $gap-small;
		padding: 44px 42px 47px 40px;

		&:last-child {
			margin-right: 0;
		}

		img {
			width: 98px;
			height: 98px;
			margin-bottom: 24px;
		}

		&-desc {
			@include text($color: $color-black);
			margin-bottom: 25px;
			text-align: center;
		}

		&-info {
			@include text($weight: 700, $color: $color-main);
		}
	}
}