@use "./base/reset";
@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;
@use "layouts/header.scss";
@use "layouts/footer.scss";
@use "components/buttons.scss";
@use "components/auth-modal.scss";
@use "pages/catalog";
@use "components/products-section.scss";
@use "pages/about";
@use "pages/contact";

// --- media queries changes for scrolling button

#scroll-button {
	@include respond(sm) {
    	display: none;
	}
}
// ----

.wrapper {
	@include container;
}

// --- hero section ---
.hero {
	background-color: #e7e8e9;
	position: relative;
	z-index: 1;
	@include flex-center;

	&::after {
		content: "";
		position: absolute;
		right: -20%;
		top: 47%;
		transform: translateY(-50%);
		width: 100%;
		height: 500px;
		background: url("/src/assets/images/homepage/bag-title.png") no-repeat
			center;
		background-size: contain;
		pointer-events: none;
	}

	&-content {
		// max-width: 640px;
		padding: 280px 0 284px 200px;

		h1 {
			font-family: var(--font-family);
			font-weight: 900;
			font-size: 50px;
			color: $color-black;
			margin-bottom: 30px;
		}

		&-text {
			@include text;
			margin-bottom: 30px;
		}
	}

	// --- adaptive ---
	@include respond(lg) {
		&-content {
			padding: 100px 10px 200px; 
			h1 {
				font-size: 42px;
			}
		}
	}

	@include respond(md) {
		&::after {
			position: relative;   
			right: auto;
			top: auto;
			transform: none;
			width: 100%;
			height: 250px;
			margin: 20px 0;       
			display: block;
		}

		&-content {
			padding: 100px 20px 200px;

			h1 {
				font-size: 36px;
			}
		}
	}

	@include respond(sm) {
		&::after {
			content: none; 
		}

		&-content {
			text-align: center; 
			h1 {
				font-size: 28px;
			}
		}
	}
}

// --- promo section ---

.promo {
	@include flex-between;
	background-color: $color-white;
	box-shadow: $box-shadow;
	position: relative;
	z-index: 2;
	margin-top: -100px;

	&-left {
		max-width: 495px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 85px;

		&-profile {
			display: flex;
			align-items: center;
			margin-bottom: 28px;

			img {
				width: 85px;
				height: 93px;
				margin-right: 22px;
			}
		}

		&-desc {
			h2 {
				@include heading;
			}

			&-text {
				@include text;
				margin-top: 30px;
			}
		}
	}

	&-right {
		width: 646px;
		height: 566px;
		background-image: linear-gradient(
				rgba(0, 0, 0, 0.4),
				rgba(0, 0, 0, 0.4)
			),
			url(/src/assets/images/homepage/bags-discount.png);
		@include background;

		&-items {
			display: flex;
			flex-direction: column;
			padding: 189px 184px 159px 70px;

			&-title {
				@include heading($color: $color-white);
				margin-bottom: 30px;
			}

			&-text {
				@include text($color: $color-white);
				margin-bottom: 30px;
			}
		}
	}

	// --- adaptive ---
	@include respond(lg) {
		padding: 30px;
		gap: 30px;

		&-left {
			padding-left: 40px;
		}

		&-right {
			width: 50%;
			height: auto;

			&-items {
				padding: 120px 80px 100px 40px;
			}
		}
	}

	@include respond(md) {
		flex-direction: column;
		text-align: center;
		padding: 20px;

		&-left {
			max-width: 100%;
			padding-left: 0;
			margin-bottom: 30px;
			margin-top: 30px;
			align-items: center;

			&-desc {
				h2 {
					font-size: 25px;
				}
			}
		}

		&-right {
			width: 100%;
			height: 400px;

			&-items {
				align-items: center;
				padding: 60px 30px;
				text-align: center;

				&-title {
					font-size: 30px;
				}
			}
		}
	}

	@include respond(sm) {
		padding: 15px;

		&-left-profile img {
			width: 65px;
			height: 70px;
		}

		&-right {
			height: 300px;

			&-items {
				padding: 40px 20px;
			}
		}
	}
}

.profile-desc {
	display: flex;
	flex-direction: column;

	h3 {
		@include heading($size: 20px, $weight: 700);
		margin-bottom: 7px;
	}

	span {
		@include text($color: $color-black);
	}

	@include respond(md) {
		text-align: center;
	}
}

// --- products-overview section ---

.products-overview {
	margin: 106px 100px;

	&-title {
		text-align: center;
		margin-bottom: 40px;

		&-heading {
			@include heading;
			text-align: center;
			margin-bottom: 10px;
		}

		&-text {
			@include text($color: $color-text);
		}
	}

	&-wrapper {
		@include container;
		position: relative;
		overflow: hidden;
	}

	&-track {
		display: flex;
		transition: transform 0.4s ease;
	}

    &-dots {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 25px;

        button {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: none;
            background-color: $color-border;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &.active {
                background-color: $color-main;
            }
        }
    }
	.product-card {
        position: relative;
        width: 296px;
        height: 600px;
		box-sizing: border-box;
		margin-right: 39px;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;        

        &:last-child {
            margin-right: 0;
        }

		img {
			width: 100%;
            height: 100%;
            object-fit: cover;
			display: block;
		}

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
            z-index: 1;
        }

		&-content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 20px;
            z-index: 2;

			&-title {
				@include heading(
					$weight: 700,
					$size: 19px,
					$color: $color-white
				);
                margin-bottom: 20px;
			}

            &-text {
                @include text($color: $color-white);
                margin-bottom: 39px;
            }
		}
	}

	&-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: $color-main;
		color: $color-white;
		border: none;
		padding: 10px 15px;
		cursor: pointer;
		z-index: 10;

		&.prev {
			left: 10px;
		}
		&.next {
			right: 10px;
		}

		&:hover {
			background: darken($color-main, 10%);
		}
	}

	// --- adaptiv ---

	@include respond(lg) {
		margin: 80px 50px;

		.product-card {
			width: 222px;
			height: 450px;

			&-content-text {
				margin-bottom: 0;
			}
		}
	}

	@include respond(md) {
		margin: 60px 30px;
		padding: 0 10px;
		&-track {

		}
		.product-card {
			width: 250px;
			height: 400px;
		}
	}

	@include respond(sm) {
		margin: 40px 15px;
		padding: 0 10px;

		&-wrapper {
			overflow-x: auto; 
			scroll-snap-type: x mandatory; 
		}

		&-track {
			gap: 15px;
		}

		.product-card {
			width: 100%; 
			height: auto;
			// height: 500px;
			min-width: 250px;  
			min-height: 340px;
			scroll-snap-align: start;
		}

		&-btn, &-dots {
			display: none; 
		}
	}
}



// --- content-banner section ---

.content-banner {
	@include flex-between;
	height: 407px;
	background-image: linear-gradient(
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4)
			), url(/src/assets/images/homepage/banner.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 0 40px;

	&-left {
		margin: 29px 0 0 105px;

		&-title {
			@include heading($size: 223px, $color: $color-white);
		}

		&-text {
			@include text($size: 20px, $color: $color-white);
			margin-top: -20px;
			margin-bottom: 96px;
		}
	}

	&-right {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		&-title {
			@include heading($color: $color-white);
			margin-bottom: 30px;
		}

		&-text {
			max-width: 394px;
			@include text($color: $color-white);
			margin-bottom: 30px;
		}
	}

	// --- adaptiv ---
	@include respond(lg) {
		height: 380px;
		padding: 0 30px;
		gap: 30px;

		&-left {
			margin: 20px 0 0 60px;

			&-title {
				font-size: 180px;
			}

			&-text {
				font-size: 18px;
				margin-bottom: 70px;
			}
		}

		&-right {
			&-text {
				max-width: 350px;
			}
		}
	}

	@include respond(md) {
		flex-direction: column;
		align-items: center;
		text-align: center;
		height: auto;
		padding: 60px 20px;

		&-left {
			margin: 0;
			&-title {
				font-size: 140px;
			}
			&-text {
				margin-bottom: 40px;
				font-size: 18px;
			}
		}

		&-right {
			align-items: center;
			&-text {
				max-width: 80%;
			}
		}
	}

	@include respond(sm) {
		padding: 40px 10px;
		flex-direction: column;
		text-align: center;
		gap: 20px;

		&-left {
			margin: 0;
			&-title {
				font-size: 80px;
			}
			&-text {
				font-size: 16px;
				margin-bottom: 20px;
			}
		}

		&-right {
			align-items: center;
			&-title {
				font-size: 22px;
				margin-bottom: 15px;
			}
			&-text {
				max-width: 100%;
				font-size: 15px;
				margin-bottom: 20px;
			}
		}
	}
}


// --- customers section ---

.customers {
	margin-top: 100px;
	margin-bottom: 120px;

	&-title {
		@include heading;
		text-align: center;
		margin-bottom: 10px;
	}

	&-parag {
		@include text;
		text-align: center;
		margin-bottom: 60px;
	}

	&-profile-wrapper {
		display: flex;
		justify-content: center;
	}

	&-profile {
		background-color: $color-white;
		box-shadow: $box-shadow;
		@include flex-center;
		flex-direction: column;
		margin-right: $gap-small;
		padding: 44px 42px 47px 40px;

		&:last-child {
			margin-right: 0;
		}

		img {
			width: 98px;
			height: 98px;
			margin-bottom: 24px;
		}

		&-desc {
			@include text($color: $color-black);
			margin-bottom: 25px;
			text-align: center;
		}

		&-info {
			@include text($weight: 700, $color: $color-main);
		}
	}

	// --- adaptive ---
	@include respond(lg) {
		padding: 0 30px;

		&-profile {
			max-width: 300px;
			padding: 40px 35px;
			img {
				width: 90px;
				height: 90px;
			}
		}
	}

	@include respond(md) {
		padding: 0 20px;

		&-profile-wrapper {
			gap: 25px;
		}

		&-profile {
			max-width: 280px;
			padding: 35px 30px;

			img {
				width: 80px;
				height: 80px;
			}

			&-desc {
				font-size: 15px;
			}

			&-info {
				text-align: center;
			}
		}
	}

	@include respond(sm) {
		padding: 0 10px;
		margin: 60px 0 80px;
		&-title {
			font-size: 35px;
		}
		&-parag {
			margin-bottom: 30px;
		}

		&-profile-wrapper {
			flex-direction: column;
			align-items: center;
			gap: 20px;
		}

		&-profile {
			width: 100%;
			max-width: 90%;
			padding: 30px 20px;
			margin: 0 auto 20px;

			img {
				width: 70px;
				height: 70px;
			}

			&-desc {
				font-size: 14px;
				margin-bottom: 15px;
			}

			&-info {
				font-size: 15px;
			}
		}

		.customers-profile:last-child {
			margin-right: auto; // сброс, если раньше было другое правило
			margin-left: auto;
		}
	}
}